@page "/entities/person"
@inherits WorksPageComponent

<Indicator IndicatorContext="@IndicatorContext">
    <ErrorContent Context="t">
        <p>Error: @t.Exception.Message</p>
        <button class="btn btn-primary" @onclick="@t.DismissException">Dismiss</button>
    </ErrorContent>
    <ChildContent>
        <WorksPageCrudComponent TEntity="Person" />
      
    </ChildContent>

</Indicator>

@code
{

}



