@page "/entities/uf"
@inherits WorksPageComponent
 

<Indicator IndicatorContext="@IndicatorContext">
    <ErrorContent Context="t">
        <p>Error: @t.Exception.Message</p>
        <button class="btn btn-primary" @onclick="@t.DismissException">Dismiss</button>
    </ErrorContent>
    <ChildContent>
        <WorksPageCrudComponentDto Title="Uf" SubTitle="Adicionar/Alterar/Excluir" TEntity="Uf" TModel="UfDto"/>
    </ChildContent>
</Indicator>

@code
{

}



